# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
golang/eKYC-service-gin/.env
golang/eKYC-service-gin/postgres/.env
golang/eKYC-service-gin/controllers/.env
golang/eKYC-service-gin/index.html
golang/eKYC-service-gin/eKYC-service-gin
